fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
alembic==1.16.5
psycopg[binary]==3.2.1
pydantic-settings==2.7.0
python-multipart==0.0.20
email-validator==2.3.0
python-jose[cryptography]==3.3.0
bcrypt==4.3.0
pytest==8.4.1
httpx==0.28.1
ruff==0.12.10
psycopg2-binary==2.9.9 #DONT REMOVE THIS (some code uses this version of psycopg)
